@media(max-width: 1399px){
	nav{
		height: 150px;
	}
.nav-top-menu{
	    position: relative;
    bottom: 35%;
    left: 54.4%;
}
}
.form-search{
	  position: absolute;
    top: 56px;
    left: 20%;
}
i.fa-search + input[type="search"]{
	  width: 350px !important;
}
.btn-search{
    position: relative;
    bottom: 41px;
    left: 115%;
}
img >.logo {
	margin-top: 35px;
}