body{
font-family: Arial;
font-size: 16px !important;
}
nav{
	min-width: 100%;
	height: 100px;
	background-color: #122538;
  display: flex !important;
  justify-content: stretch;
  position: relative;
}
.container{
  margin-left: 200px !important;
}
.phones{
	font-size: 13px;
	color: #fff;
}

.searching-form{
    width: 457px;
    height: 40px;
    margin-left: 165px;
   border-radius: 9px;
}
i.fa-search {
    color: #4d4b4b;
    width: 26px;
    height: 26px;
    line-height: 8px;
    text-align: center;
    margin-right: -34px;
    position: relative;
    z-index: 1;
    left: 15%;
  }
i.fa-search + input[type="search"] {
  padding-left: 34px;
  width: 500px !important;
  font-size: 19px;
}
.links_languages{
    justify-content: center;
    display: flex;
    line-height: 0;
    position: relative;
    bottom: 18px;
    right: 16.5%
}
.links_nav{
position: relative;
left: 52px;
color: #fff;
font-size: 14px;
}
.links_nav:hover{
  color: #fff;
}
#not_active:after{
content: "|";
padding: 0 6px 0 6px;
}
.btn-search{
    background-color: #00bc52;
    color: #fff;
    width: 92px;
    height: 43px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-search:hover{
  background-color: #00a046;
}

.nav-top-menu{
    display: inline-flex;
    justify-content: center;
    position: absolute;
    bottom: 63%;
    left: 30.4%;
}
.top-list{
  display: inline-block;
}
.nav-top-menu > .top-list > a{
    color: #fff;
    font-size: 13px;
    list-style: none;
    font-family: Arial;
    display: inline-block;
    margin-right: 10px;
}
  
      #carousel {
    width: 1000px;
    height: 364px;
    left: 455px;
    top: 55px;
    position:relative;
    clear:both;
    overflow:hidden;
    background:#FFF;
}
    #carousel img {
        visibility:hidden;
        cursor:pointer;
        max-width: 605px;
      }
      #prev{
    position: absolute;
    top: 167px;
    left: 42px;
}
#next{
    position: absolute;
    top: 167px;
    left: 92%;
}
.fa-angle-right, .fa-angle-left {
  color: #d1d1d2;
}
/* .fa-angle-right, .fa-angle-left:hover{
color: #8597af;
}
*/
.fa-angle-right:hover{
color: #8597af;
}
.fa-angle-left:hover{
color: #8597af;
}