body{
font-family: Arial;
font-size: 16px !important;
overflow: hidden;
}
nav{
	min-width: 100%;
	height: 100px;
	background-color: #122538;
  display: flex !important;
  justify-content: stretch;
  position: relative;
}
.container{
  margin-left: 200px !important;
  margin-right: 200px !important;
}
.phones{
	font-size: 13px;
	color: #fff;
}
.form-search{
    position: absolute;
    top: 6px;
    left: 20%;
}
.input-search{
    height: 40px;
    border-radius: 9px;
    margin-left: 36%;
}
i.fa-search {
    color: #4d4b4b;
    width: 26px;
    height: 26px;
    line-height: 8px;
    text-align: center;
    margin-right: -34px;
    position: relative;
    left: 37%;
    top: 42px;
  }
i.fa-search + input[type="search"] {
  padding-left: 34px;
  width: 574px;
  font-size: 19px;
}
.btn-search{
    background-color: #00a046 ;
    color: #fff;
    width: 92px;
    height: 43px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    bottom: 41px;
    left: 122%;
}
.btn-search:hover{
  background-color: #00bc52;
}
.navbar-brand{
  margin-bottom: 32px;
}
.links_languages{
    justify-content: center;
    display: flex;
    line-height: 0;
    position: relative;
    bottom: 18px;
    right: 16.5%
}
.links_nav{
position: relative;
left: 52px;
color: #fff;
font-size: 14px;
}
.links_nav:hover{
  color: #fff;
}
#not_active:after{
content: "|";
padding: 0 6px 0 6px;
}

.nav-top-menu{
position: absolute;
    bottom: 13px;
    left: 41.4%;
}
.top-list{
  display: inline-block;
  position: relative;
  bottom: 52px;
  right: 141px;
}
.user-city{
    display: inline-block;
    color: #fff;
}
.user-city > span{
    border-bottom: 1px dotted;
    font-weight: 600;
}
.fa-chevron-down{
  color: #b4b1b1;
}
.fa-chevron-down:hover{
  color: #fff;
}
.nav-top-menu > .top-list > a{
    color: #fff;
    font-size: 13px;
    list-style: none;
    font-family: Arial;
    display: inline-block;
    margin-right: 10px;
}
    #carousel {
    width: 1000px;
    height: 364px;
    left: 455px;
    top: 55px;
    position:relative;
    clear:both;
    overflow:hidden;
    background:#FFF;
}
#carousel img {
        visibility:hidden;
        cursor:pointer;
        max-width: 605px;
}
#prev  {
  position: absolute;
  top: 167px;
  left: 42px;
}
#next{
    position: absolute;
    top: 167px;
    left: 92%;
}
.fa-angle-right, .fa-angle-left {
  color: #d1d1d2;
}

.fa-angle-right:hover{
color: #8597af;
}
.fa-angle-left:hover{
color: #8597af;
}

.fa-map-marker{
  color: #fff;
  padding-right: 5px;
}
.user-register{
  color: #cfd7e0;
  font-size: 15px;
}

.user-register > a {
    color: #cfd7e0;

    text-decoration: underline;
}
.user-register > a:hover{
  color: #fff;
}
.fa-user{
  padding: 0 2px 0 2px;
}
